@media(max-width: 1500px) {
    .banner__screen {
        left: 270px;
    }
}
@media(min-width: 1151px) {
    .header__burger {
        display: none;
    }
}
@media(max-width: 1150px) {
    .container {
        width: 748px;
        margin: 0 auto;
    }
    /* --- header --- */
    .header__nav {
        display: none;
    }
    .header__content {
        padding-top: 32px;
    }
    .header__content-inner {
        display: block;
        position: relative;
    }
    #top_logo {
        display: inline-block;
        margin-right: 54px;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .header__burger {
        display: inline-block;
        position: relative;
        top: -13px; 
    }
    .burger {
        padding: 0;
        margin: 0;
    }
    .social_media {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 2px;
    }
    .social_media li {
        display: inline-block;
    }
    .social_media a {
        height: 25px;
        width: 25px;
        margin: 3px 0 0;
    }
    .social_media li:first-child a {
        margin-right: 17px;
    }
    /* --- main --- */
    .banner {
        margin: 0 0 80px;
    }
    .banner__content {
        padding: 23px 0 121px;
        margin: 0;
    }
    .banner__header {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2B3541;
    }
    .banner__subheader {
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        color: #2B3541;
    }
    .banner__screen {
        width: 399px;
        height: 324px;
        top: 100px;
        left: 350px;
    }
    .banner__bottom {
        padding: 0;
        width: 60%;
    }
    .banner__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #2B3541;
        margin: 0 0 60px;
    }
    .banner__rectangle {
        width: 359px;
        height: 429px;
        top: -4px;
        right: -324px;
    }
    .banner__arrow img{
        width: 40px;
    }
    /* --- section events --- */
    .events {
        margin: 0 0 92px;
    }
    .h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 51px;
        color: #2B3541;
    }
    .events__grid {
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin-top: 13px;
        row-gap: 10px;
    }
    .events__item {
        padding: 8px 0 0 26px;
        height: 309px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .events__item:nth-child(1) {
        background-image: url(/img/@1x/maraphon-768.png);
    }
    .events__item:nth-child(2) {
        background-image: url(/img/@1x/Vebinar\ 768.png);
    }
    .events__item:nth-child(3) {
        grid-column: 1 / 3;
        height: 339px;
        background-image: url(/img/@1x/yoga-768.jpg);
    }
    .events__item:nth-child(3) .event__name {
        width: 25%;
    }
    .event__date {
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: #2B3541;
        opacity: 0.6;
    }
    .event__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #2B3541;
        margin: 17px 0 0;
        width: 50%;
    }
    .event__button {
        position: absolute;
        right: calc(100% - 86px);
        padding: 6px 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #2B3541;
    }
    .events__add {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
    }
    .events__add:hover {
        cursor: pointer;
    }
    .event__hover:hover {
        opacity: 0;
        z-index: 0;
    }
    /* --- schedule --- */
    .schedule__header .h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #2B3541;
    }
    .schedule__date {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #2B3541;
    }
    .schedule__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 224px);
    }
    .schedule__item:nth-child(n) {
        grid-row: inherit;
        grid-column: inherit;
    }
    .schedule__item {
        padding-left: 24px;
    }
    .schedule__item img {
        bottom: 74px;
    }
    .schedule__time {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #010101;
        padding-top: 21px;
        padding-right: 24px;
    }
    .schedule__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #2B3541;
        padding: 18px 0;
    }
    /* --- subscription --- */ 
    .subscription {
        margin-top: 91px;
        padding: 57px 79px 34px;
    }
    .h2__subscription {
        text-align: center;
        width: 37%;
    }
    .h2__subscription .h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #2B3541;
    }
    .subscription__circle {
        width: 31px;
        height: 31px;
        left: 0;
        top: -13px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 50px 0 0;
    }
    input[type="email"] {
        order: 1;
        width: 340px;
        margin-right: 0;
        padding-left: 27px;
    }
    .subscribe__button {
        order: 3;
    }
    .agreement {
        order: 2;
        margin-bottom: 41px;
    }
    /* --- about --- */
    .about {
        margin: 86px 0 97px;
    }
    .about__banner {
        align-items: flex-start;
    }
    .about__banner-img {
        margin-top: 16px;
    
    }
    .about__btn {
        padding: 24px 45px;
    }
    .about__banner-text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #2B3541;
        margin: 7px 0 53px;
    }
    .about__add {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 42px;
    }
    .about__h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    .about__item {
        width: 70%;
    }
    .about__item p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin-top: 15px;
    }

}
@media(max-width: 767px) {

}
