/* --- general styles --- */
* {
    font-family: 'Montserrat';
    font-style: normal;
}
.body {
    margin: 0;
    padding: 0;
}
li, ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    /*padding: 0 386px 0 387px;*/
    width: 1142px;
    margin: 0 auto;
}
/* --- header --- */
.header__content {
    padding: 45px 0 27px;
}
.header__content-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
nav li {
    display: inline-block;
}
.header__nav {
    flex-basis: 41%;
    margin-left: -26%;
  }
.header__nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__nav a {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
}
.header__nav a::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: transparent;
    display: block;
    transition: 0.5s;
    margin-top: 7px;
}
.header__nav a:hover::after {
    background-color: #2B3541;
    transition: 0.5s;
}
.social_media {
    flex: 0 0 92px;
    display: flex;
    justify-content: space-between;
    margin: -6px 0 0;
}
.social_media a {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.social_media li:first-child a {
    background-image: url(../img/icons/IN.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.social_media li:first-child a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.social_media li:last-child a {
    background-image: url(../img/icons/FB.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.social_media li:last-child a:hover {
    transform: scale(1.2);
    opacity: 1;
 }
/* --- banner text --- */
.banner__content {
    padding: 220px 0 274px;
    width: 57%;
    position: relative;
}
.banner__header {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: #2B3541;
    padding: 0;
    margin: 0;
    text-align: justify;
}
.banner__subheader {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #2B3541;
    margin: 43px 0 21px;
}
.banner__subheader span:first-child {
    padding-right: 10px;
}
.banner__bottom {
    padding-left: 93px;
    width: 50%
}
.banner__text {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    margin: 0 0 53px;    
}
/* --- banner button ---*/
.banner {
    margin: 0 0 145px;
    position: relative;
}
.banner__button {
    background: #FBF138;
    border: none;
    padding: 20px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    transition: 0.5s;
}
/* --- banner absolute --- */
.banner__arrow {
    position: absolute;
    bottom: 12px;
    left: 0;
}
.banner__screen {
    position: absolute;
    top: 32px;
    left: 329px;
    width: 983px;
    height: 810px;
    z-index: 10;
}
.banner__rectangle {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    width: 464px;
    height: 850px;
    position: absolute;
    bottom: 15px;
    right: -487px;
    z-index: 1;
}
/* --- events --- */
.h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #2B3541;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: relative;
}
.events__grid {
    padding-top: 41px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
}
.events__item {
    height: 600px;
    box-sizing: border-box;
    position: relative;
    padding: 10px 31px 0;
    overflow: hidden;
}
.events__item:nth-child(1) {
    background-image: url(/img/@1x/maraphon.png);
}
.events__item:nth-child(2) {
    background-image: url(/img/@1x/Vebinar\ 1.png);
}
.events__item:nth-child(3) {
    background-image: url(/img/@1x/yoga.jpg);
}
.event__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.45) 0%, rgba(253, 249, 182, 0) 100%);
    z-index: 10;
    opacity: 0;
    transition: 0.8s;
}
.event__hover:hover {
    opacity: 1;
    z-index: 10;
    transition: 0.8s;
}
.events__add {
    display: none;
}
.event__join {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding: 20px 49px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    z-index: 11;
    position: absolute;
    top: 185px;
    left: 30px;
    transition: 0.5s;
}
.event__join:hover {
    background: #2B3541;
    color: #FBF138;
    transition: 0.5s;
}
.event__date {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.999;
}
.event__name {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #2B3541;
    opacity: 0.99;
    margin: 21px 0 0;
}
.event__button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FBF138;
    border: none;
    padding: 11px 22px;
    transition: 0.5s;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2B3541;
    z-index: 12;
}
.events {
    margin-bottom: 158px;
}
/* --- schedule --- */
.schedule {
    margin: 0;
}
.schedule__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
}
.schedule__date {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
}
.schedule__grid {
    display: grid;
    gap: 20px;
    grid-template-areas: 
            "a a a"
            "b b b"
            "a a a";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 73px 281px;
    /* 46.6%  11% 42.4%*/
}
.schedule__time {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    padding: 17px 32px;
    position: absolute;
    right: 0;
    top: 0;
}
.schedule__item {
    border: 1px solid #2B3541;
    padding: 20px 30px;
    position: relative;
    transition: 0.7s;
}
.schedule__hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, 1) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2); 
    transition: 0.7s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.schedule__item:hover {
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.7s;
}
.schedule__item:hover .schedule__hover {
    opacity: 1;
    transition: 0.7s;
}
.schedule__item:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.schedule__item:nth-child(3) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}
.schedule__item:nth-child(5) {
    grid-row: 1 / 2 ;
    grid-column: 3 / 4;
}
.schedule__item:nth-child(2) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
.schedule__item:nth-child(4) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.schedule__item:nth-child(6) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
.schedule__title {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}
.schedule__item img {
    position: absolute;
    bottom: 83px;
}
/* --- subscription --- */
.subscription {
    margin: 160px 0 0;
    padding: 79px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F3F3F3;
}
.h2__subscription {
    position: relative;
}
input {
    display: inline-block;
}
form {
    margin: 40px 0 0 10px;
}
input[type="email"] {
    width: 372px;
    height: 65px;
    padding: 0 20px;
    border: none;
    background-color: #FFFFFF;
    margin-right: 20px;
    box-sizing: border-box;
}
input[type="email"]::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.3;
}
input[type="email"]::-moz-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.3;
}
input[type="email"]:-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.3;
}
input[type="email"]::-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.3;
}
input[type="email"]::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.3;
}
.subscribe__button,
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding: 25px 40px;
    background: #FBF138;
    transition: 0.5s;
}
label[for="person_data"],
label[for="person_data"] a {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #2B3541;
}
label[for="person_data"] a {
    text-decoration: underline;
}
/* ------------------- input checkbox start -------------------------- */
.agreement {
    margin-top: 13px;
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
    content:'';
    position: absolute;
    width: 18px;
    height: 18px;
    transition: all .6s ease;
    opacity: 1;
    left: 0px;
    top: calc(50% - 9px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/icons/check_box.svg);
    border: 1px solid #2B3541;
    border-radius: 1px;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 18px;
    height: 18px;
    left:0;
    top:calc(50% - 9px);
    background-color: transparent;
    border-radius: 1px;
    border: 1px solid #2B3541;
}
.agree_data {
    text-decoration: underline;
}
/* ------------------- input checkbox end -------------------------- */
.subscription__circle {
    background-color: rgba(251, 241, 56, 0.6);
    border-radius: 50%;
    width: 53px;
    height: 53px;
    position: absolute;
    left: -36px;
    top: -20px;
    z-index: 1;
}
/* --- about__banner --- */
.about {
    margin: 161px 0 171px;
    width: 100%;
}
.about__banner {
    display: flex;
    justify-content: space-between;
}
.about__banner-text {
    flex: 0 0 43%;
}
.about__banner-img {
    display: block;
    margin-left: -11px;
    flex: 0 0 50%;
}
.about__banner-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    margin-bottom: 56px;
}
.about__banner-text {
    width: 85%;
}
.about__btn {
    padding-left: 52px;
    padding-right: 52px;
}
/* --- about columns --- */
.about__add {
    display: grid;
    margin-top: 80px;
    grid-template-columns: 297px 350px 288px 205px; /* fix it */
}
.about__item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.6;
    margin: 20px 0 0;
}
.about__h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2B3541;
    margin: 0;
}
/* --- footer --- */
.footer {
    background-color: #F3F3F3;
    padding: 52px 0;
}
.footer__content-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.footer__nav li {
    display: inline-block;
}

.footer__nav li:first-child{
    margin-top: -5px;
}
.footer__nav {
    flex-basis: 55.5%;
}
.footer__nav ul {
    display: flex;
    justify-content: space-between;
}
.footer__nav a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B3541;
}
/* .footger__nav a::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: #2B3541;
    display: block;
    transition: 0.5s;
    margin-top: 7px;
    border: 1px solid red;
}
.footer__nav a:hover::after {
    background-color: #2B3541;
    transition: 0.5s;
} */
.footer__mail {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2B3541;
    display: inline-block;
    z-index: 10;
    position: relative;
}
.contacts {
    flex: 0 0 295px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -8px;
}
.footer__circle {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -17px;
    top: 0px;
    background-color: rgba(251, 241, 56, 0.6);
    border-radius: 50%;
    z-index: 1;
}
.footer__social_media {
    flex: 0 0 86px;
    display: flex;
    justify-content: space-between;
    margin: 9px 0 0 68px;
}
.footer__social_media li:first-child a {
    display: inline-block;
    background-image: url(../img/icons/IN.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.footer__social_media li:first-child a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.footer__social_media li:last-child a {
    display: inline-block;
    background-image: url(../img/icons/FB.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.footer__social_media li:last-child a:hover {
    transform: scale(1.2);
    opacity: 1;
 }
.rights {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.rights p,
.Annblock a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B3541;
}
.Annblock a {
    text-decoration: underline;
}

.banner__button:hover,
.subscribe__button:hover,
.about__btn:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    color: #FBF138;
    transition: 0.5s;
}
/*----------------modal window-----------------*/
    .burger {
        width: 34px;
        height: 22px;
        background-image: url(../img/menu-burger.svg);
        background-color: transparent;
        border: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .modal {
        background-color: #FFF8DC;
        max-width: 500px;
        position: absolute;
        top: -400px;
        /* ставим по центру */
        left: 0;
        right: 0;
        margin: 20px auto 0;
        padding: 38px 0px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    .modal .header__nav {
        flex-direction: column;
        align-items: center;
        gap: 19px;
        margin: 0;
        transition: 0.5s;
    }
    .burger__close {
        width: 22px;
        height: 22px;
        background-image: url(../img/modal-close.svg);
        background-color: transparent;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }