/* --- general styles --- */
.body {
    margin: 0;
    padding: 0;
}
li, ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 387px; /* 387 */
    margin: 0 auto;
}
/* --- header --- */
.header__content {
    padding: 50px 0 27px;
}
.header__content-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
nav li {
    display: inline-block;
}
nav li:first-child{
    margin-right: 40px;
}
.header__nav {
    flex-basis: 57.6%;
}
.header__nav ul {
    display: flex;
    justify-content: space-between;
}
.header__nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
}
.social_media img:first-child {
    margin-right: 21px;
}
.social_media {
    flex: 0 0 92px;
    margin-top: -5px;
}
/* --- banner text --- */
.banner__content {
    padding: 219px 0 237px;
    width: 57%;
    position: relative;
}
.banner__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: #2B3541;
    padding: 0;
    margin: 0;
    text-align: justify;
}
.banner__subheader {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #2B3541;
    margin: 40px 0 21px;
}
.banner__subheader span:first-child {
    padding-right: 10px;
}
.banner__bottom {
    padding-left: 93px;
    width: 50%
}
.banner__text {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    margin: 0 0 37px;    
}
/* --- banner button ---*/
.banner {
    margin: 0 0 150px;
}
.banner__button {
    background: #FBF138;
    border: none;
    padding: 20px 29px;
}
.banner__button a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}
/* --- banner absolute --- */
.banner__arrow {
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner__screen {
    position: absolute;
    top: -10px;
    right: -671px;
}














