/* --- general styles --- */
.body {
    margin: 0;
    padding: 0;
}
li, ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 77px; /* 387 */
    margin: 0 auto;
}
/* --- header --- */
.header__content {
    padding: 50px 0 27px;
}
.header__content-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav li {
    display: inline-block;
}
.header__nav {
    flex-basis: 60%;
}
.header__nav ul {
    display: flex;
    justify-content: space-between;
}
.header__nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.social_media img {
    display: inline-block;
}
.social_media {
    flex: 0 0 92px;
}
